.card {
  cursor: pointer;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: 3px 3px 0px 0px rgba(56, 56, 56, 0.7);
  box-shadow: 3px 3px 0px 0px rgba(56, 56, 56, 0.7);
}

.card:hover {
  filter: saturate(300%);
  transition: 0.2s linear;
}
