/* You can add global styles to this file, and also import other style files */

:root {
  --white: rgb(238, 230, 230);
  --blue: rgb(19, 23, 77);
  --violet: rgb(68, 61, 68);
  --lilla: rgb(130, 164, 238);
}

body {
  background-color: var(--white);
  padding: 1rem;
  color: var(--violet);
}

h1 {
  color: var(--blue);
  margin: 0;
}

h2 {
  margin-top: 0;
  color: var(--lilla);
}
