/* You can add global styles to this file, and also import other style files */

body {
  background-color: rgb(238, 230, 230);
  padding: 1rem;
  color: rgb(68, 61, 68);
}

h1 {
  color: rgb(19, 23, 77);
  margin: 0;
}

h2 {
  margin-top: 0;
  color: rgb(130, 164, 238);
  border-bottom: 1px solid rgb(243, 207, 243);
}
